.page {
	font-size: $base-lg-font;
	line-height: 1.5;
	font-family: $commonfont;
	padding-left: $pagepad;
	padding-right: $pagepad;
	padding-top: $pad;
	@include laptop {
		margin: 0 auto;
		max-width: $laptop-width;
	}
}