.row {
	@include tablet {
		display: flex;
		justify-content: space-between;
		&__col {
			width: 47%;
		}
	}
}

.row_p {
	@include tablet {
		display: flex;
		justify-content: space-around;
		&__col {
			width: 40%;
		}
	}
}