@import 'variables';
@import 'mixins';

.contact {
	display: flex;
	&:not(:last-child) {
		padding-bottom: $pad-xxs;
	}
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		font-weight: bold;
		color: $maincolor;
		flex: 1;
	}
	&__value {
		flex: 3;
	}
	&__email {
		color: ($basecolor - #222);
		i {
			margin-right: $pad-sm;
		}
	}
	&__phone {
		display: block;
		color: ($basecolor - #222);
		i {
			margin-right: $pad-sm;
		}
	}
	&__skype {
		color: ($basecolor - #222);
		i {
			margin-right: $pad-sm;
		}
	}
	&__social {
		color: ($basecolor - #222);
		&:not(:last-child) {
			margin-right: $pad;
		}
	}
}

.document {
	font-size: 100%;
	background: url(../img/bg.jpg) 0 0 no-repeat fixed;
	background-size: 100% 100vh;
}

.example {
	position: relative;
	margin-bottom: $pad-lg;
	&:hover &__hover {
		display: flex;
	}
	&__img {
		width: 100%;
		height: auto;
		border: 2px solid ($maincolor - #222);
	}
	&__hover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding: $pad-sm;
		background-color: rgba(#fff, .9);
		@include laptop {
			padding: $pad;
		}
	}
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		text-transform: uppercase;
		color: ($maincolor - #333);
		@include laptop {
			font-size: $head2font;
		}
	}
	&__description {
		width: 60%;
		color: ($basecolor);
		margin-left: $pad;
		@include laptop {
			font-size: $base-lg-font;
		}
	}
	&__button {
		align-self: flex-end;
		margin-bottom: $pad-sm;
		margin-right: $pad-sm;
		padding: $pad-sm $pad $pad-sm;
		font-weight: bold;
		text-transform: uppercase;
		color: ($basecolor - #222);
		background-color: rgba(($maincolor - #111), .7);
		border: 1px solid $basecolor;
		@include laptop {
			font-size: $base-lg-font;
			padding: $pad-xs $pad-lg $pad-xs;
		}
	}
}


.header {
	display: flex;
	align-items: center;
	&__photo {
		flex: 1;
	}
	&__headline {
		flex: 1;
		padding-left: $pad-lg;
	}
	&__img {
		width: 100%;
		height: auto;
		padding: $pad-xxs;
		border: 2px solid $maincolor;
		border-radius: 50%;
	}
	&__headline {
		font-family: $headfont;
	}
	&__name {
		font-size: $head1font;
		line-height: 1;
	}
	&__lastname {
		font-weight: bold;
		color: $maincolor;
	}
	&__profession {
		font-size: $head3font;
		line-height: 1.2;
		font-weight: bold;
	}
}

.institution {
	margin-bottom: $pad-sm;
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		font-weight: bold;
	}
	&__date {
		font-style: italic;
		color: $basecolor;
	}
}
.page {
	font-size: $base-lg-font;
	line-height: 1.5;
	font-family: $commonfont;
	padding-left: $pagepad;
	padding-right: $pagepad;
	padding-top: $pad;
	@include laptop {
		margin: 0 auto;
		max-width: $laptop-width;
	}
	@include desktop {
		max-width: 1300px;
	}
}

.portfolio {
	&__content {
		@include laptop {
			padding: $pad;
		}
	}
}
.row {
	@include tablet {
		display: flex;
		justify-content: space-between;
		&__col {
			width: 47%;
		}
	}
}

.row_p {
	@include tablet {
		display: flex;
		justify-content: space-around;
		&__col {
			width: 40%;
		}
	}
}
.section {
	margin-bottom: $pad-lg;
	&__headline {
		margin-bottom: $pad;
		padding-left: $pad-sm;
		border-left: $pad-xs solid $maincolor;
		font-size: $head2font;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		background: linear-gradient(to right, $basecolor 0%, $basecolor 70%, ($basecolor + #222) 80%, ($basecolor + #444) 90%, ($basecolor + #666) 100%);
	}
	&__content {
		padding: $pad-sm;
		border: 1px solid ($basecolor + #444);
		background-color: rgba(#fff, .7);
		box-shadow: $pad-xs $pad-xs $pad-xs ($basecolor + #222);
	}
}



.skills {
	&__block {
		margin-bottom: $pad-sm;
	}
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		font-weight: bold;
		text-transform: uppercase;
	}
}