@import 'variables';

.contact {
	display: flex;
	&:not(:last-child) {
		padding-bottom: .3em;
	}
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		font-weight: bold;
		color: $maincolor;
		flex: 1;
	}
	&__value {
		flex: 3;
	}
	&__email {
		color: ($basecolor - #222);
		i {
			margin-right: .5em;
		}
	}
	&__phone {
		display: block;
		color: ($basecolor - #222);
		i {
			margin-right: .5em;
		}
	}
	&__skype {
		color: ($basecolor - #222);
		i {
			margin-right: .5em;
		}
	}
	&__social {
		color: ($basecolor - #222);
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.document {
	font-size: 100%;
}




.header {
	display: flex;
	align-items: center;
}

.header__photo {
	flex: 2;
}

.header__headline {
	flex: 3;
	padding-left: 2em;
}

.header__img {
	width: 100%;
	height: auto;
}

.header__headline {
	font-family: $headfont;
}

.header__name {
	font-size: 2.5rem;
	line-height: 1;
}

.header__lastname {
	font-weight: bold;
	color: $maincolor;
}

.header__profession {
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: bold;
}

.institution {
	margin-bottom: .5em;
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		font-weight: bold;
	}
	&__date {
		font-style: italic;
		color: $basecolor;
	}
}
.page {
	font-size: 1.1em;
	line-height: 1.5;
	font-family: $commonfont;
	padding-left: $pagepad;
	padding-right: $pagepad;
}



.section {
	margin-bottom: 2em;
	&__headline {
		margin-bottom: 1em;
		padding-left: .5em;
		border-left: .4em solid $maincolor;
		font-size: 1.5rem;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		background: linear-gradient(to right, $basecolor 0%, $basecolor 70%, ($basecolor + #222) 80%, ($basecolor + #444) 90%, ($basecolor + #666) 100%);
	}
	&__content {
		padding: .5em;
		border: 1px solid ($basecolor + #444);
		box-shadow: .5em .5em .5em ($basecolor + #333);
	}
}



.skills {
	&__block {
		margin-bottom: .5em;
	}
	&__headline {
		font-family: $headfont;
		font-size: $head3font;
		font-weight: bold;
		text-transform: uppercase;
	}
}