.header {
	display: flex;
	align-items: center;
	&__photo {
		flex: 2;
	}
	&__headline {
		flex: 3;
		padding-left: 2em;
	}
	&__img {
		width: 100%;
		height: auto;
		padding: .3em;
		border: 2px solid $maincolor;
		border-radius: 50%;
	}
	&__headline {
		font-family: $headfont;
	}
	&__name {
		font-size: 2.5rem;
		line-height: 1;
	}
	&__lastname {
		font-weight: bold;
		color: $maincolor;
	}
	&__profession {
		font-size: 1.2rem;
		line-height: 1.2;
		font-weight: bold;
	}
}