.header {
	display: flex;
	align-items: center;
}

.header__photo {
	flex: 2;
}

.header__headline {
	flex: 3;
	padding-left: 2em;
}

.header__img {
	width: 100%;
	height: auto;
}

.header__headline {
	font-family: $headfont;
}

.header__name {
	font-size: 2.5rem;
	line-height: 1;
}

.header__lastname {
	font-weight: bold;
	color: $maincolor;
}

.header__profession {
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: bold;
}