.header {
	display: flex;
	align-items: center;
	&__photo {
		flex: 1;
	}
	&__headline {
		flex: 1;
		padding-left: $pad-lg;
	}
	&__img {
		width: 100%;
		height: auto;
		padding: $pad-xxs;
		border: 2px solid $maincolor;
		border-radius: 50%;
	}
	&__headline {
		font-family: $headfont;
	}
	&__name {
		font-size: $head1font;
		line-height: 1;
	}
	&__lastname {
		font-weight: bold;
		color: $maincolor;
	}
	&__profession {
		font-size: $head3font;
		line-height: 1.2;
		font-weight: bold;
	}
}